.f-collapse {
  border: 1px solid var(--color-gray4);
}

.f-collapse .f-header {
  padding: 10px;
  background-color: var(--color-gray4);
  color: var(--color-gray-4);
  font-size: 20px;
  font-weight: bold;
  display: flex;
}

.f-collapse .f-header .f-name {
  width: 100%;
}

.f-collapse .f-header .f-icon {
  transition: 0.5s transform;
  padding: 0px 10px;
}

.f-collapse .f-body {
  transition: 0.5s height;
  height: 0px;
  overflow: hidden;
}

.f-collapse.f-on .f-body {
  transition: 0.5s height;
}

.f-collapse.f-on .f-icon {
  transition: 0.5s transform;
  transform: rotate(180deg);
}

.dark .f-collapse {
  margin: 10px 0px;
  border: 1px solid var(--color-gray-4);
}

.dark .f-collapse .f-header {
  padding: 10px;
  background-color: var(--color-gray-4);
  color: var(--color-gray4);
}