.f-editor .f-document {
  padding: 6px;
  border: 1px solid var(--color-gray4);
  border-radius: 3px;
  outline: none;
  transition: border 0.5s;
}

.f-editor .f-toolbar {
  padding-bottom: 3px;
  display: flex;
  flex-wrap: wrap;
}

.f-editor .f-toolbar .f-item {
  width: 32px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-gray5);
  border-radius: 3px;
  margin-right: 3px;
  transition: background-color 0.5s, color 0.5s;
}

.f-editor .f-toolbar .f-item.on {
  background-color: var(--color-gray0);
  color: var(--color-gray5);
}

.f-editor .f-toolbar .f-item.red i {
  color: var(--color-red);
}

.f-editor .f-toolbar .f-item.green i {
  color: var(--color-green);
}

.f-editor .f-toolbar .f-item.blue i {
  color: var(--color-blue);
}

.f-editor .f-toolbar .f-item.yellow i {
  color: var(--color-yellow);
}

.f-editor.on .f-document {
  border: 1px solid var(--color-gray2);
}